:root {
    --theme-color: #ba0c2f;

}

.bannerH1 {
    font-size: 70px;
    background-color: #e2e2e2;
    margin-top: 0;
    padding: 20px 0;
    width: 100%;
    margin: auto;
}

.bannerText {
    font-size: x-large;
    width: 60%;
    margin: auto;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgb(210, 210, 218);
    background: linear-gradient(90deg, #e2e2e2 4%, rgba(255, 255, 255, 1) 50%);

}

.main {
    height: 60vh;
    display: flex;
    width: 100%;
}

.bannerPic img {
    height: 100%;
    object-fit: cover;
}

.textWrapper {
    border: 3px solid #555;
    padding: 10px;
    width: 60%;
    height: fit-content;
    margin: auto;
    background-color: white;
    word-break: break-all;

}

.borderWrapper {
    padding: 20px;
    border: 3px solid #555;

}

.bannerPic {
    width: 60%;
}

.joinUs {
    background-color: #ba0c2f;
    text-decoration: none;
    padding: 20px 50px;
    color: white;
    border: none;
    font-size: large;
    font-weight:600;
    box-sizing: border-box;
    transition: all 300ms ease-in;
    border: 3px solid  transparent;
}
.buttonWrapper{
    padding: 4px;
    background-color: #ba0c2f;
    width: max-content;
    margin: auto;
}
.buttonWrapper:hover .joinUs{
    border: 3px solid  white;
}
